<!DOCTYPE html>
<html>
<head>
    <title>Tirana Deal Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/analytics">Analytics</a> |
    <a href="/map">Map</a>
</nav>
    <h1>Tirana Apartments</h1>
    <table border="1">
        <tr>
            <th>Price</th>
            <th>Sqm</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Floor</th>
            <th>Neighborhood</th>
        </tr>
        {% for listing in listings %}
        <tr>
            <td><a href="/listing/{{ loop.index0 }}">{{ listing.price }}</a></td>
            <td>{{ listing.sqm }}</td>
            <td>{{ listing.bedrooms }}</td>
            <td>{{ listing.bathrooms }}</td>
            <td>{{ listing.floor }}</td>
            <td>{{ listing.neighborhood }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>